<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="button" value="创建用户" onclick="showAddUser()" />
  </body>
  <script type="text/javascript">
    function showAddUser(){
      window.location.href="/users/showAddUser";
    }
  </script>
</html>
