<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="/layui/layui.js"></script>
  </head>
  <body>
    <div id="userApp">
      <h1>添加故事</h1>
      文档名称
      <input type="text" id="fileName" value="" /><br/>
      迭代
      <input type="text" id="sprint" value="" /><br/>
      用户分组：
      <select id="groupId">
          <option v-for="group in groups" v-bind:value="group._id">
            {{group.groupName}}
          </option>
      </select><br/>
      故事标题：
      <input type="text" name="storyName" value="" />&nbsp;
      故事内容：
      <input type="text" name="storyContent" value="" />
      <br/>
      故事标题：
      <input type="text" name="storyName" value="" />&nbsp;
      故事内容：
      <input type="text" name="storyContent" value="" />
      <br/>
      故事标题：
      <input type="text" name="storyName" value="" />&nbsp;
      故事内容：
      <input type="text" name="storyContent" value="" />
      <br/>
      <input type="button" value="添加故事" onclick="addStorys()"/>
      <br>
      <h1>查询故事</h1>
      文档名称
      <input type="text" id="findFileName" value="" /><br/>
      <input type="button" value="查找故事" onclick="find()"/>
      <br/>
      <h1>故事评估</h1>
      <br/>
      评估用户：
      <select id="euid">
      </select><br/>
      <table id="estimateDiv">
        <tr>
          <td>story序号</td>
          <td>story名称</td>
          <td>story内容</td>
          <td>操作</td>
        </tr>
      </table>
      <h1>根据条件查询评估内容</h1>
      查询用户:
      <select id="find_uid">
          <option value="">--请选择--</option>
      </select><br/>
      <br/>
      需求名称:<input type="text" id="find_needName"/>
      <br/>
      <input type="button" value="查询" onclick="findEstimate()">
      <span id="search_res">
        
      </span>
      
    </div>
  </body>
  <script type="text/javascript">
  function init(){
      $.ajax({
        url:"/users/getAllGroups",
        type:"get",
        success:function(ret,status){
          new Vue({
            el: '#userApp',
            data: {
              groups:ret
            }
          })
        },
        error:function(xhr, textStatus, errorThrown){
          alert("初始化失败"+xhr);
        }
      });

      $.ajax({
        url:"/users/getAllUsers",
        type:"get",
        success:function(ret,status){
          for(var i=0;i<ret.length;i++){
            $("#euid").append("<option value='"+ret[i]._id+"'>"+ret[i].username+"</option>");
            $("#find_uid").append("<option value='"+ret[i]._id+"'>"+ret[i].username+"</option>");
          }
        },
        error:function(xhr, textStatus, errorThrown){
          alert("初始化失败"+xhr);
        }
      });
    }
    init();
    function addStorys(){
      var storyName = [];
      $("input[name='storyName']").each(function(index){
        storyName.push($(this).val());
      });
      var storyContent = [];
      $("input[name='storyContent']").each(function(index){
        storyContent.push($(this).val());
      });

      $.ajax({
        url:"/common/addStorys",
        type:"post",
        data:{"fileName":$("#fileName").val(),"sprint":$("sprint").val(),"groupId":$("#groupId").val(),"storyName":JSON.stringify(storyName),"storyContent":JSON.stringify(storyContent)},
        success:function(data,status){
          alert("添加成功！");
        },
        error:function(xhr, textStatus, errorThrown){
          alert("失败！"+xhr);
        }
      });
    }

    function find(){
      $.ajax({
        url:"/common/getStorys",
        type:"get",
        data:{"fileName":$("#findFileName").val()},
        success:function(data,status){
          var retList = data.ret;
          var htmlStr = "";
          for(var i=0;i<retList.length;i++){
            var retObj = retList[i];
            htmlStr += "<tr>"+
                "<td>"+retObj.storySeq+"</td>"+
                "<td>"+retObj.storyName+"</td>"+
                "<td>"+retObj.storyContent+"</td>"+
                "<td><select id='pointSel_"+i+"'>"+
                    "<option value='1'>1</option>" + 
                    "<option value='2'>2</option>" + 
                    "<option value='3'>3</option>" + 
                  "</select>&nbsp;"+
                  "<input type='hidden' value='"+retObj._id+"' id='sid_"+i+"'>" +
                  "<input type='hidden' value='"+retObj.fileName+"' id='fname_"+i+"'>" +
                  "<input type='button' value='确认评估' onclick='submitPoint(\""+i+"\")'/>"+
                  "</td>"+
                "</tr>";
          }
          $("#estimateDiv").append(htmlStr);
        },
        error:function(xhr, textStatus, errorThrown){
          alert("失败！"+xhr);
        }
      });
    }

    function submitPoint(i){
      var sid = $("#sid_"+i).val();
      var selVal = $("#pointSel_"+i).val();
      var fname = $("#fname_"+i).val();
      var uid = $("#euid").val();
      var remark = "暂无备注";

       $.ajax({
        url:"/common/pointStory",
        type:"post",
        data:{"sid":sid,"selVal":selVal,"fname":fname,"uid":uid,"remark":remark},
        success:function(data,status){
          alert("评估成功！");
        },
        error:function(xhr, textStatus, errorThrown){
          alert("评估失败！"+xhr);
        }
      });
    }

    function findEstimate(){
      $.ajax({
        url:"/common/findEstimate",
        type:"get",
        data:{"uid":$("#find_uid").val(),"fileName":$("#find_needName").val()},
        success:function(data,status){
          $("#search_res").html(JSON.stringify(data.ret));
        },
        error:function(xhr, textStatus, errorThrown){
          alert("查询失败！"+xhr);
        }
      });
    }

    
  </script>
</html>